@font-face {
    font-family: "iconfont"; /* Project id 3279261 */
    src: url("//at.alicdn.com/t/font_3279261_7fe6yjnmzm.woff2?t=1649585554487") format("woff2"),
        url("//at.alicdn.com/t/font_3279261_7fe6yjnmzm.woff?t=1649585554487") format("woff"),
        url("//at.alicdn.com/t/font_3279261_7fe6yjnmzm.ttf?t=1649585554487") format("truetype");
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-touxiang:before {
    content: "\e602";
}

.icon-icon-test:before {
    content: "\e663";
}

.icon-guanzhu:before {
    content: "\e60d";
}

.icon-yiguanzhu:before {
    content: "\e60e";
}

.icon-gengduo:before {
    content: "\e605";
}

.icon-wangyuanjing:before {
    content: "\e6e8";
}

.icon-tupian:before {
    content: "\e889";
}

.icon-shipin:before {
    content: "\e600";
}

.icon-sousuoleimu:before {
    content: "\e754";
}

.icon-wode:before {
    content: "\e8c6";
}

.icon-shouye:before {
    content: "\e8c7";
}

.icon-hengping:before {
    content: "\e671";
}
